<% if current_user %>
  <h3 class="text-center py-4">A toi de jouer <%= current_user.first_name %></h3>

  <div class="row">
    <%= link_to new_result_path, class: "col-10 offset-1 col-md-4 offset-md-1 my-3" do %>
      <button type="button" class="btn btn-bg-blue text-white">AJOUTER UN RÉSULTAT</button>
    <% end %>
    <%= link_to results_path, class: "col-10 offset-1 col-md-4 offset-md-1 my-3" do %>
      <button type="button" class="btn btn-bg-blue text-white">CONSULTER UN RÉSULTAT</button>
    <% end %>
  </div>

  <% if @results.any? %>
    <p class="last-results-text my-3">Mes derniers résultats enregistrés :</p>
    <table class="table table-responsive table-hover my-4">
      <thead class="table-header">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Course</th>
          <th scope="col">Distance (km)</th>
          <th scope="col">D+ (m)</th>
          <th scope="col">Temps</th>
          <th scope="col">Classement Général</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <tr>
            <td scope="row"><%= result.date.strftime("%d/%m/%y") %></td>
            <td scope="row"><%= result.race.name %></td>
            <td scope="row"><%= result.race.distance %></td>
            <td scope="row"><%= result.race.height_difference %></td>
            <td scope="row"><%= Time.at(result.running_time).utc.strftime("%H:%M:%S") %></td>
            <td scope="row"><%= result.general_classification %></td>
            <td scope="row"><i class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="Editer le résultat" id=''></i></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <h4 class="text-center py-4">Bienvenue sur Palmarun ! Pour démarrer, crée ton compte ou connecte-toi.</h4>
  <div class="row">
    <%= link_to new_user_registration_path, class: "col-10 offset-1 col-md-4 offset-md-2 my-3" do %>
      <button type="button" class="btn btn-bg-blue text-white">S'inscrire</button>
    <% end %>
    <%= link_to new_user_session_path, class: "col-10 offset-1 col-md-4 offset-md-1 my-3" do %>
      <button type="button" class="btn btn-bg-blue text-white">Se connecter</button>
    <% end %>
  </div>
<% end %>