<% if @results.any? %>
  <div class="py-2">
    <p>Voici les critères de recherche possible :</p>

    <%= form_tag (results_path), method: :get do %>
      Nom de course : <%= text_field_tag :name, params[:name], placeholder: 'Ex : Paris-Versailles' %><br class="mobile-break"><br class="mobile-break">
      Distance : <%= text_field_tag :distance, params[:distance], placeholder: 'En km', class: "small_text_field" %><br class="mobile-break"><br class="mobile-break">
      Année : <%= text_field_tag :year, params[:year], placeholder: 'Ex : 2019', class: "small_text_field" %><br /><br />
      <%= submit_tag "Rechercher", class: "btn btn-primary" %>
    <% end %>
  </div>

  <p class="last-results-text my-3">Résultats de ta recherche :</p>
  <table class="table table-responsive table-hover my-4">
    <thead class="table-header">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Course</th>
        <th scope="col">Distance (km)</th>
        <th scope="col">D+ (m)</th>
        <th scope="col">Temps</th>
        <th scope="col">Classement Général</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td scope="row"><%= result.race.date.strftime("%d/%m/%y") %></th>
          <td scope="row"><%= result.race.name %></th>
          <td scope="row"><%= result.race.distance %></th>
          <td scope="row"><%= result.race.height_difference %></th>
          <td scope="row"><%= Time.at(result.running_time).utc.strftime("%H:%M:%S") %></th>
          <td scope="row"><%= result.general_classification %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Tu n'as pas encore saisi de résultats !</p>
<% end %>